*{
    background-color: rgb(178, 223, 223);
}
div #uno{
    background-color: aqua;
}
div #dos{
    background-color: aqua;
}

#a1{
    color:rgb(226, 43, 134);
    font-family:sans-serif;
    font-size: 20px;
}
#a2{
    color:rgb(226, 43, 134);
    font-family:sans-serif;
    font-size: 20px;
}
#parrafo1{
    color:rgb(226, 43, 43);
}
h2{
    color:rgb(226, 125, 43);
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
blockquote{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(98, 0, 255);
    font-size: 18px;
}
li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:brown;
}
cite{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkgreen;
}
